.card-body{
  background-color: white;
  text-transform: capitalize;
  text-align: start;
  padding: $paddingCard;
  min-height: 136px;
}
.card-title{
  margin: $sizeNull;
  padding: $paddingCard;
  font-weight: 700;
}
.card-img-top{
 width: 180px;
}
.action-button{
  width:3rem;
  line-height:3rem;
  border-radius:2rem;
  border: none;
  text-align:center;
  font-size:3rem;
  color:#fff;
  top:-5rem;
  cursor:pointer;
  background: #fbf0f0 
              linear-gradient(#aba9a9, rgba(0, 0, 0, 0.3));
  transition-duration:.1s;
  transition-property:transform;
  &:focus{
    outline: none;
  } 
}
.active{
  color:#e71d36;
}