.list__names {
  list-style: none;
  padding: $sizeNull;
  justify-content: center; 
}

.list__film {
  width: 260px;
  border: 1px solid grey;
  margin: $paddingCard;
  box-shadow: 5px 5px 5px #888888;
  transition: scale ease 1s; 
  &:hover{
    transform:scale(1.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.3s ease;
  } 
}

.icon__link {
  width: $iconLink;
  height: $iconLink; 
}