.container__filter{
  text-align: center;
  padding: 0% 10%;
  @media all and (min-width: 390px){
    @include absoluteCentered();
    flex-direction: column;
  }
}

.input__filter{
  width: 50%;
  margin: 5%;
  outline: none;
  border:none;
  &:focus {
    border-color: #c1bdbd;
    box-shadow: 0 0 0 0.3rem rgba(27, 26, 26, 0.25);
  }
}