.header {
  width: $sizeWidth;
  background-color:$colorBackground;
  position: fixed;
  top: $sizeNull;
  left: $sizeNull;
  padding: 15px 10px 0px 10px;
  z-index: 2;
  @media all and (min-width: 770px){
    padding: 15px 15px 0px 15px;
  }
}
.main__title{
  font-family: $fontRest;
  font-size: 1.7em;
  @media all and (min-width: 770px){
    font-size: 1.9em;
  }
}
.input__login{
  &:focus {
    border-color: #aba9a9;
    box-shadow: 0 0 0 0.2rem rgba(232, 62, 62, 0.25);
  }
}
.main{
  margin-top: 220px;
  @media all and (min-width: 570px){
    margin-top: 180px;
  }
  @media all and (min-width: 768px){
    margin-top: 135px;
  }
}
.icon__film{
  width: 70px;
}
