
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 2;
}
.input__login{
  &:focus {
    border-color: #aba9a9;
    box-shadow: 0 0 0 0.2rem rgba(232, 62, 62, 0.25);
  }
}

.icon__film{
  height: 80px;
}

.main__title{
    font-family: 'Aclonica', sans-serif;
    font-size: 1.7em;
    @media all and (min-width: 770px){
      font-size: 2.2em;
    }
  }

 