.container__data{
  @include absoluteCentered();
  justify-content: center;
  background-color: $colorContainer;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container__data--card{
  background-color: $colorBackground;
  width: 85%;
  max-width: 700px;
  padding: 25px;
  box-shadow: 5px 5px 5px $colorShadow;
}
.card__plot{
  background-color:$colorBackground;
}