/* 
// Core
@import 'core/mixins';
@import 'core/variables';


// Layout
@import 'layout/header';
@import 'layout/filters';
@import 'layout/collection';
@import 'layout/card';
@import 'layout/info';
@import 'layout/footer';

// Components
@import 'components/typography'; 

// Page
@import 'pages/home'; 

 */

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Aclonica');

body {
  font-family: 'Dosis', sans-serif;
  padding: 20px;
	background: linear-gradient(-45deg, #e8bebe, #b94949, #ff1e1e);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
ul{
  list-style: none;
}

//header
.header {
  width: 100%;
  background-color:#e0d8e3;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 15px 0px 15px;
  z-index: 2;
  @media all and (min-width: 770px){
    padding: 15px;
  }
}
.main__title{
  font-family: 'Aclonica', sans-serif;
  font-size: 1.7em;
  @media all and (min-width: 770px){
    font-size: 1.9em;
  }
}
.input__login{
  &:focus {
    border-color: #aba9a9;
    box-shadow: 0 0 0 0.2rem rgba(232, 62, 62, 0.25);
  }
}
.main{
  margin-top: 200px;
  @media all and (min-width: 770px){
    margin-top: 150px;
  }
}
.icon__film{
  width: 70px;
}
//nav
.users{
  display: none;
}
//collection
.list__names {
  list-style: none;
  padding: 0;
  justify-content: center; 
}

.list__film {
  width: 260px;
  border: 1px solid grey;
  margin: 10px;
  box-shadow: 5px 5px 5px #888888;
  transition: scale ease 1s; 
  &:hover{
    transform:scale(1.1);
        -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.3s ease;
  } 
}

.container__link {
  display: flex;
  justify-content: space-between; 
}

.icon__link {
  width: 50px;
  height: 50px; 
}

// card
.card-body{
  background-color: white;
  text-transform: capitalize;
  text-align: start;
  padding: 10px;
  min-height: 136px;
}
.card-title{
  margin: 0;
  padding: 10px;
  font-weight: 700;
}
.card-img-top{
 width: 180px;
}
.action-button{
  width:3rem;
  line-height:3rem;
  border-radius:2rem;
  border: none;
  text-align:center;
  font-size:3rem;
  color:#fff;
  top:-5rem;
  cursor:pointer;
  background: #fbf0f0 
              linear-gradient(#aba9a9, rgba(0, 0, 0, 0.3));
  transition-duration:.1s;
  transition-property:transform;
  &:focus{
    outline: none;
  } 
}
.active{
  color:#e71d36;
 // text-shadow:1px 2px 2px rgba(0,0,0,.3)
}

// filter
.container__filter{
  text-align: center;
  padding: 0% 10%;
  @media all and (min-width: 390px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.input__filter{
  width: 50%;
  margin: 5%;
  outline: none;
  border:none;
  &:focus {
    border-color: #c1bdbd;
    box-shadow: 0 0 0 0.3rem rgba(27, 26, 26, 0.25);
  }
}
//info
.container__data{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef4d4d;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container__data--card{
  background-color: #e0d8e3;
  width: 85%;
  max-width: 700px;
  padding: 25px;
  box-shadow: 5px 5px 5px #888888;
}
.card__plot{
  background-color: #e0d8e3;
}




